<template>
	<v-container class="pa-0 py-0">
		<v-row justify="center">
			<v-col cols="12" >

				<v-card-actions class="pa-0" >
					<v-card-text class="  font-weight-black text-h6">  
						{{ modeView === 1? 'NEW PRODUCT':'EDIT PRODUCT' }} 
					</v-card-text> 
					<v-spacer></v-spacer>
					<v-btn color="error" fab small @click="$emit('modal',false)" >
						<v-icon>clear</v-icon>
					</v-btn>
				</v-card-actions>

				<v-form v-model="valid"  >
					<v-row>
						<v-col cols="12" sm="6" class="py-1">
							<v-text-field
								autofocus
								v-model ="product.id"
								label="ID"
								placeholder="id product"
								dense
								filled
								:rules="idRules"
								required
							></v-text-field>
						</v-col>

						<v-col cols="12" sm="6" class="py-1">
							<v-text-field
								v-model ="product.sku"
								label="SKU"
								placeholder="SKU"
								dense
								filled
								:rules="skuRules"
								required
							></v-text-field>
						</v-col>
					
						<v-col cols="12" >
							<v-text-field
								v-model ="product.name"
								label="Name product"
								placeholder="Name product"
								dense
								filled
								:rules="nameRules"
								required
							></v-text-field>
						</v-col>

						<v-col cols="12" sm="6" class="py-1">
							<v-text-field
								v-model ="product.quantity"
								label="Quantity"
								placeholder="Quantity"
								dense
								filled
								:rules="quantityRules"
								required
							></v-text-field>
						</v-col>

						<v-col cols="12" sm="6" class="py-1">
							<v-text-field
								v-model ="product.price"
								label="Price"
								placeholder="Price"
								dense
								filled
								:rules="priceRules"
								required
							></v-text-field>
						</v-col>
					</v-row>
				</v-form>
        <div class="mt-12"></div>
        <!-- //!CONTENEDOR GUARDAR Y ACTUALIZAR INFORMACIÓN -->
        <v-footer  absolute >
          <v-spacer></v-spacer>
					 <v-btn 
						:disabled="!valid" 
						persistent
						color="primary" 
						@click="guardar_información()" 
					>
						Register product
					</v-btn>
        </v-footer>
          
        <overlay v-if="overlay"/>

			</v-col>
		</v-row>
	</v-container>
	
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
	export default {
		props:[
			'modeView',
			'product',
			'parametros',
			'index'
	  ],
	  data () {
			return {
				valid: false,
        idRules   :  [v => !!v || 'Write the product id'],
        skuRules  :  [v => !!v || 'Write the sku of the product'],
        nameRules :  [v => !!v || 'Write the name of the product'],
        quantityRules:  [v => !!v || 'Write the quantity'],
        priceRules :  [v => !!v || 'Write the price'],
			}
		},
		
		created(){
		},

		methods:{
      guardar_información(payload){
				if(this.modeView == 1){
          this.parametros.push(this.product)
				}	
				if (this.modeView == 2) {
					Object.assign(this.parametros[this.index], this.product)
        } 

				this.$emit('modal',false);
				this.$emit('alert-success', this.product.id);

      },
		}
	}
</script>