<template>
  <v-main class="pa-3 mt-2">
    <v-row justify="center">
      <v-col cols="12">
        
        <!-- CONTENEDOR PRINCIPAL -->
        <v-card  class="pa-4 elevation-12" style="border-radius: 12px;">
          <v-row class="pa-1 py-0">
						<v-col cols="12"  md="6" >
							<v-card-actions class="font-weight-black text-h6 py-0" > 
                ORDER LIST 
              </v-card-actions>
						</v-col>
            
					</v-row>
          <!-- BOTONES DE ACCION *BUSCAR + RECARGAR-->
          <v-card-actions class="">
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              placeholder="Write a number or word you want to search"
              hide-details
              filled dense
            ></v-text-field>
            <v-spacer></v-spacer>
          </v-card-actions>

          <v-data-table
            :headers="headers"
            :items="obtener_ordenes"
            :search="search"
            :loading ="Loading"
            fixed-header
            hide-default-footer
            :height="tamanioPantalla"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
            class="font-weight-bold"
            locale="es-es"
           >
            <template v-slot:item.totals.total="{ item }">
            {{ item.totals.total  | currency(2) }}
            </template>

              
           
            <template v-slot:item.activo="{ item }">
              <v-checkbox 
                v-model="item.activo"
                color="success"
                @click="cambiaEstatus(item)"
              ></v-checkbox>
            </template>

            <template v-slot:item.action="{ item }">
              <v-btn color="secondary" fab small @click="ver_detalle_orden(item)">
                <v-icon> mdi-eye</v-icon> 
              </v-btn>
            </template>

          </v-data-table>
        </v-card>

        	<!-- PAGINACION -->
				<div class="text-center pt-2">
					<v-pagination v-model="page" :length="pageCount"></v-pagination>
				</div>
      </v-col>


      <!-- MODAL CONTROL DETALLE -->
      <v-dialog 
        v-model="modal_control_order" 
        fullscreen 
        persistent  
        hide-overlay 
        transition="dialog-bottom-transition"
      >
        <v-card class="pa-4">
          <DetOrder
            :parametros="parametros"
            :indexOrder="indexOrder"
            @modal="modal_control_order = $event"
          />
        </v-card>
      </v-dialog>
    </v-row>
  </v-main>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
	import metodos from '@/mixins/metodos.js';
  import DetOrder from '@/views/Orders/purchase_order_detail.vue'
  var axios = require('axios');

  export default {
		mixins:[metodos],
    components: {
      DetOrder,
		},
    data:() =>({
      access_token:`eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJwUGFINU55VXRxTUkzMDZtajdZVHdHV3JIZE81cWxmaCIsImlhdCI6MTYyMDY2Mjk4NjIwM30.lhfzSXW9_TC67SdDKyDbMOYiYsKuSk6bG6XDE1wz2OL4Tq0Og9NbLMhb0LUtmrgzfWiTrqAFfnPldd8QzWvgVQ`,
      // VARIABLES DE TABLA PRINCIPAL
      page: 1,
      pageCount: 0,
      itemsPerPage: 20,
      search: '',
      headers: [
          { text: '#'          , align: 'start' , value: 'id' },
          { text: 'Number'     , align: 'rigth' , value: 'number'    },
          { text: 'Subtotal'   , align: 'rigth' , value: 'totals.subtotal'   },
          { text: 'Tax'        , align: 'rigth' , value: 'totals.tax'      },
          { text: 'Discount'   , align: 'rigth' , value: 'totals.discount'      },
          { text: 'Shipping'   , align: 'rigth' , value: 'totals.shipping'      },
          { text: 'Total'      , align: 'rigth' , value: 'totals.total'      },
					{ text: '' 		       , align: 'right' , value: 'action' , sortable: false },
      ],

      modal_control_order: false,
      parametros: {},
      Loading: false,
      indexOrder:0
    }),

    created(){
      this.init();
    },

    watch: {
			modal_control_order(val){
        val || this.cerrar_vista();
			},
    },

    computed:{
      ...mapGetters('Orders',['obtener_ordenes'])
    },

    methods:{ 
      ...mapActions('Orders', ['guardar_datos_locales']),
      async init(){
        this.Loading = true;
        axios.get('https://eshop-deve.herokuapp.com/api/v2/orders', {
          headers: { 'Authorization': `Bearer ${this.access_token}`}
        })
        .then((res) => {
          this.guardar_datos_locales(res.data.orders);
          this.orders = res.data.orders;
        })
        .catch((error) => {
          console.error(error)
        }).finally(()=>{
          this.Loading = false
        })
      },

      ver_detalle_orden(item){
        let editedItem = Object.assign({}, item)
				this.parametros = editedItem;
				this.indexOrder = this.obtener_ordenes.indexOf(item)
        this.modal_control_order = true
      },

      cerrar_vista(){
        this.modal_control_order = false
        this.$nextTick(() => {
					this.parametros = new Object();
        })
      },
      
    },
  }

</script>