<template>
	<v-main class="py-1 pa-6">
		<v-row justify="center">
			<v-col cols="12" >
				<v-card id="toolbar2" elevation="12">
					<v-card-actions >
						<v-card-text class="text-h6 font-weight-black white--text">  
							PURCHASE ORDER DETAIL
						</v-card-text> 
						<v-spacer></v-spacer>
						<v-btn color="error" fab small @click="$emit('modal',false)" >
							<v-icon >mdi-close</v-icon>
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-col>

			<v-col cols="12">
				<v-card style="border-radius:10px" elevation="12" class="pa-4 py-0">
					<v-row>
						<v-col cols="12" sm="8" md="4">
							<v-card outlined>
								<v-list-item three-line>
									<v-list-item-content >
										<v-list-item-title class="headline"> <span class="font-weight-bold"> ORDER:  </span> {{ parametros.id }} </v-list-item-title>
										<v-list-item-title class="headline"> <span class="font-weight-bold"> NUMBER: </span> {{ parametros.name }} </v-list-item-title>
									</v-list-item-content>
								</v-list-item>
							</v-card>
						</v-col>

						<v-col cols="12" sm="4" md="2" offset-md="6" class="d-flex align-content-end flex-wrap" align="right">
							<v-btn block color="primary" @click="modal_control_products=true"> New Product</v-btn>
						</v-col>

						<v-col cols="12">
								<v-data-table
									:headers="headers"
									:items="parametros.items"
									 :height="tamanioPantalla -190"
									fixed-header
									hide-default-footer
									:page.sync="page"
									:items-per-page="itemsPerPage"
									@page-count="pageCount = $event"
									class="text-h6"
								>

									<template v-slot:item.price ="{ item }" > 
											<span> {{ item.price | currency(2) }}</span>
									</template>

									<template v-slot:item.actions="{ item }" > 
										<v-btn color="success" class="ma-1"  small dark  @click="editar_partida(item)">
										<v-icon> mdi-pencil </v-icon>
										</v-btn> 
									</template> 
								</v-data-table>
								<v-divider></v-divider>
						</v-col>

						

						<!-- TOTAL -->
 						<v-col cols="12" sm="4" md="2" offset-sm="8" offset-md="10" > 
							<v-card outlined>
									<v-list dense >
										<v-list-item link class="py-0">
											<v-list-item-content >
												<v-list-item-title class="subtitle-1"> Subtotal</v-list-item-title>
											</v-list-item-content>
											<v-list-item-content class="text-right">
											 	<v-list-item-title class="subtitle-1"> {{ totales.subtotal | currency(2) }} </v-list-item-title>
											</v-list-item-content>
										</v-list-item>

										<v-list-item link class="py-0">
											<v-list-item-content >
												<v-list-item-title class="subtitle-1"> Tax</v-list-item-title>
											</v-list-item-content>
											<v-list-item-content class="text-right">
											 <v-list-item-title class="subtitle-1"> {{ totales.tax | currency(2) }} </v-list-item-title>
											</v-list-item-content>
										</v-list-item>

										<v-divider></v-divider>
										<v-list-item link class="py-0">
											<v-list-item-content>
												<v-list-item-title class="subtitle-1"> Total </v-list-item-title>
											</v-list-item-content>
											<v-list-item-content class="text-right ">
											 	<v-list-item-title  class="subtitle-1"> {{ totales.total | currency(2) }} </v-list-item-title>
											</v-list-item-content>
										</v-list-item>
									</v-list>

							</v-card>
							<v-btn 
								block 
								large 
								color="success"
								class="mt-1"
								@click="procesar_pago()"
							> process payment
							</v-btn>
						</v-col>
					</v-row>
				</v-card>
			</v-col>

			<v-dialog 
        v-model="modal_control_products" 
        persistent  
        hide-overlay 
				width="550"
        transition="dialog-top-transition"
      >
        <v-card class="pa-4">
          <controlProducts
						:parametros="parametros.items"
            :product="product"
						:modeView="modeView"
						:index="index"
            @modal="modal_control_products = $event"
						@alert-success="informacion_guardada()"
          />
        </v-card>
      </v-dialog>

			<v-dialog
				v-model="modalSuccess"
				hide-overlay
				max-width="450"
				max-height="100"
			>
				<v-card class="pa-5 py-0">
					<v-row no-gutters >
						<v-col cols="6">
							<v-card class="elevation-0 ma-0 pb-6" height="100%" style="display: table;">
								<div class="headline" style="display: table-cell; vertical-align: middle;">
									<strong>Great!</strong>, <br> {{ mensajeSuccess}}
								</div>
							</v-card>
						</v-col>
						<v-col cols="6" class="pa-4">
							<v-img transition="fab-transition" src="@/assets/correcto.png" class="shrink"></v-img>
						</v-col>
						<v-col cols="12" class="mt-5">
						</v-col>
					</v-row>

					<v-footer absolute  class="pa-1">
						<v-spacer></v-spacer>
						<v-btn class="success--text" text block @click="modalSuccess = false">OK</v-btn>
					</v-footer>
				</v-card>
			</v-dialog>

		</v-row>
	</v-main>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import  metodos from '@/mixins/metodos.js';
	import controlProducts from '@/views/Orders/control_products.vue'
  import store  from '@/store'

	export default {
		mixins:[metodos],
	  components: {	
			controlProducts
		},
		props:[
			'parametros',
			'indexOrder'
	  ],
	  data () {
			return {
				page: 1,
				pageCount: 0,
				itemsPerPage: 20,
				headers: [
						{ text: '#'        , align: 'start'  , value: 'id' },
						{ text: 'SKU'      , align: 'left'   , value: 'sku'    },
						{ text: 'Name'   	 , align: 'rigth'  , value: 'name'   },
						{ text: 'Quantity' , align: 'center' , value: 'quantity'      },
						{ text: 'Price'    , align: 'rigth'  , value: 'price'      },
						{ text: '' 		     , align: 'right'  , value: 'actions' , sortable: false },
				],
				mensajeSuccess:'',
				modalSuccess:false,
				modal_control_products: false,
				product: {},
				modeView: 1,
				index: 0,
			}
		},

		watch: {
			modal_control_products(val){
        val || this.cerrar_vista();
			},
    },

		computed:{
			totales(){
				if(Object.keys(this.parametros).length == 0){
					return {  subtotal: 0 , tax: 0, total:0 };
				}
				
				let totales = {  subtotal: 0 , tax: this.parametros.totals.tax, total:0 };
				let subtotal = 0;
				for(let i=0; i< this.parametros.items.length; i++){
					totales.subtotal = ( parseFloat(totales.subtotal) + (parseFloat(this.parametros.items[i].price) * parseInt(this.parametros.items[i].quantity) ));
					totales.total    = ( parseFloat(totales.subtotal) + parseFloat(totales.tax));
				}
				return totales;
			}
		},

		methods:{
			editar_partida(item){
        let editedItem = Object.assign({}, item)
				this.modeView = 2;
				this.product = editedItem;
				this.index = this.parametros.items.indexOf(item)
        this.modal_control_products = true
      },

			informacion_guardada(){
				this.mensajeSuccess = 'Data saving was successfully.';
				this.modalSuccess = true;
				// ACTUALIZAR TOTALES GENERALES
				store.state.Orders.ordenes[this.indexOrder].items = this.parametros.items;
				store.state.Orders.ordenes[this.indexOrder].totals.subtotal = this.totales.subtotal; 
				store.state.Orders.ordenes[this.indexOrder].totals.tax = this.totales.tax; 
				store.state.Orders.ordenes[this.indexOrder].totals.total = this.totales.total; 
			},

			procesar_pago(){
				this.mensajeSuccess = 'Your payment was generated correctly';
				this.modalSuccess = true;
				let that = this;
				setTimeout(() => { 
					that.$emit('modal',false);
					that.modalSuccess = false;
			  }, 5000);
			},

			cerrar_vista(){
				this.modal_control_products = false
        this.$nextTick(() => {
					this.product = new Object();
					this.modeView = 1;
        })
			},

			

		}
	}
</script>

<style>
	#toolbar2{
		border-radius:10px;
    background: #00008a;  
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  
    background: linear-gradient(to left, #1CB5E0,#1CB5E0, #000046); 
	}

</style>