<template>
  <v-app id="inspire">

    <v-app-bar  id="toolbar1" app class="elevation-4 ma-2" v-ripple   >
      <v-card-text class="text-h5 white--text font-weight-bold">
        Test Para Paquetes
      </v-card-text>
      <v-spacer></v-spacer>
      <v-toolbar-items @click="cerrar_sesion=true" >
        <v-icon x-large dark >mdi-truck-fast</v-icon> 
      </v-toolbar-items>
    </v-app-bar>

    <v-main class="elevation-0 transparent" >
      <v-slide-y-transition mode="out-in" >
        <router-view  />
      </v-slide-y-transition>
    </v-main> 
  </v-app>
</template>


<style >
  #toolbar1{
    border-radius:10px;
    background: #00008a;  
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  
    background: linear-gradient(to left, #1CB5E0,#1CB5E0, #000046); 
  }

  ::-webkit-scrollbar {
    width: 5px;
    height : 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* background: transparent; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1CB5E0;
  }

</style>

